/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

/* CSS animations start here */

button.move-btn:hover {
	background-color: red;
	-webkit-animation-name: button;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s;
	/* Safari 4.0 - 8.0 */
	animation-name: button;
	animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes button {
	from {
		background-color: red;
	}

	to {
		background-color: yellow;
	}
}

/* Standard syntax */
@keyframes button {
	from {
		background-color: red;
	}

	to {
		background-color: yellow;
	}
}

a:hover {
	background-color: red;
	-webkit-animation-name: links;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s;
	/* Safari 4.0 - 8.0 */
	animation-name: links;
	animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes links {
	from {
		background-color: red;
	}

	to {
		background-color: yellow;
	}
}

/* Standard syntax */
@keyframes links {
	from {
		background-color: red;
	}

	to {
		background-color: yellow;
	}
}

/* CSS animations stop here */

/* Background modifications start here */

.bg-img {
	background-image: url('../img/mid-page-accent.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
}

button.bg-button {
	color: #000;
}

hr.bg-hr {
	padding: 0;
}

.bg-header {
	padding-top: 50px;
}

.bg-footer {
	padding-bottom: 10px;
}

.bg-bottom {
	margin-bottom: 20px;
}

.bg-text-white {
	color: #fff;
}

.bg-left-padding {
	padding-left: 10px;
}

.bg-top-margin {
	margin-top: 70px;
}

/* Background modifications end here */

/* HR margin starts here */

hr {
	margin: 20px 0;
}

/* HR margin ends here */

/* Start paragraph formatting with Google font */

p {
	font-family: 'Ibarra Real Nova', serif;
}

/* End paragraph formatting with Google font */

/* body container starts here */

.container {
	width: 90%;
	margin: 0 auto;
}

button {
	padding: 5px 25px;
	margin-top: 15px;
	background-color: #fff;
}

/* body container ends here */

/* nav starts here */

nav ul {
	display: flex;
	justify-content: space-around;
}

nav ul {
	text-align: center;
	position: fixed;
	background-color: rgba(200, 200, 200, .9);
	top: 11px;
	width: 90%;
}

nav ul li {
	padding-top: 20px;
}

nav ul li:last-child {
	padding: 10px 0;
}

a {
	text-decoration: none;
	color: #000;
}

/* nav ends here */


/* header starts here */

header {
	margin-top: 80px;
}

header.index {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

header img {
	width: 100%;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 4rem;
}

.header img {
	width: 300px;
}

h1 {
	font-family: 'Bangers', cursive;
	margin-top: 20px;
	font-size: 1.5rem;
}

h2 {
	font-family: 'Bangers', cursive;
}

/* header ends here */

/* main starts here */

.top-section {
	display: flex;
	justify-content: space-between;
}

.section1, .section2, .section3, .section4 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

article {
	border: 1px solid #444;
	border-radius: 4px;
	padding: 20px;
	width: 49%;
	background-color: #eee;
}

.section4 article {
	background-color: #fff;
	border: none;
	padding: 0;
}

.section4 article:first-child {
	padding-right: 20px;
}

.top-section article, .bottom-section article {
	background: #fff;
	border: none;
}

ul.section4-ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-top: 15px;
	line-height: 1.5;
}

.services-info-img {
	width: 100%;
}

.middle-img {
	width: 100%;
	margin: 10px 0;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
}

.bottom-section article:first-child {
	padding-left: 0;
}

/* main ends here */

/* footer starts here */

footer p {
	text-align: center;
	margin: 40px 0;
	font-size: 1rem;
}

/* footer ends here */

/* Text customizing starts here */

.focus {
	font-weight: bold;
}

/* Text customizing ends here */